<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">

		
			 
		   
		   <div class="row"  style="margin-bottom:50px;">
		      <div class="col-md-offset-2 col-md-8">
		            <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title">All Employees</h3>
					  </div>
					     <div class="panel-body">
					              <table class="table table-bordered">
									<thead>
									   <tr class="btn-success">
									     <th>Name</th>
									     <th>Designation</th>
									     <th>Salary</th>
									     <th>Operation</th>
									   </tr>
									</thead>
									<tbody>
									     <tr th:if="${#lists.isEmpty(allCars)}" class="btn-warning">
									        <td colspan="4" align="center">No Employee Registered Yet!!!</td> 
									     </tr>
										   <tr th:each="car : ${allCars}">
										     <td th:text="${car.firstName}"></td>
										   
										   </tr>
									    
									</tbody>
									
								</table>
					      </div>
					          
					</div>
		       </div>
		   </div>
		</div>
</body>
</html>