<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout_user_loggedin">
<head>
<title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content_user_loggedin">

		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">All Messages</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr class="btn-success">
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Title</th>
									<th>Message</th>
									<th>Operation</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${message.name}"></td>
									<td th:text="${message.email}"></td>
									<td th:text="${message.phone}"></td>
									<td th:text="${message.title}"></td>
									<td th:text="${message.message}"></td>
									<td align="center"><a
										th:href="@{/userapp/message/send/{userId}/{carId}(userId=${message.userId},carId=${message.carId})}"><span
											class="glyphicon glyphicon-edit"></span>Send Message Back</a>
										&nbsp; &nbsp;</td>
								</tr>

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>