<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout_user_loggedin">
<head>
<title>Service Auto Application</title>
</head>
<body>
	<div layout:fragment="content_user_loggedin">

		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">All Cars</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr class="btn-success">
									<th>Brand</th>
									<th>Model</th>
									<th>Manufacture Year</th>
									<th>Operations</th>

								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(userCarList)}" class="btn-warning">
									<td colspan="4" align="center">No cars for user in service
										yet !!!</td>
								</tr>
								<tr th:each="car : ${userCarList}">
									<td th:text="${car.brand}"></td>
									<td th:text="${car.model}"></td>
									<td th:text="${car.manufactureYear}"></td>
									<td align="center"><a
										th:href="@{/userapp/car/defection/all/{userId}/{carId}(userId=${userId},carId=${car.id})}">
											<span class="glyphicon glyphicon-edit"></span>View Car
											Defections
									</a><a
										th:href="@{/userapp/car/defection/add/{userId}/{carId}(carId=${car.id},userId=${userId})}">
											<span class="glyphicon glyphicon-edit"></span>Add
											Defection
									</a> &nbsp; &nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>