<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">All Service Clients</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr class="btn-success">
									<th>First Name</th>
									<th>Last Name</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(userList)}" class="btn-warning">
									<td colspan="4" align="center">No clients in service yet
										!!!</td>
								</tr>
								<tr th:each="user : ${userList}">
									<td th:text="${user.firstName}"></td>
									<td th:text="${user.lastName}"></td>
									<td align="center"><a
										th:href="@{/serviceauto/car/{userId}(userId=${user.id})}"><span
											class="glyphicon glyphicon-edit"></span>View Cars</a> <a
										th:href="@{/serviceauto/car/userId/{userId}(userId=${user.id})}"><span
											class="glyphicon glyphicon-edit"></span>Add Car</a> &nbsp;
										&nbsp;</td>
								</tr>

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>