<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Spring Boot CRUD Example</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-offset-2 col-md-8">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">All Messages</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr class="btn-success">
									<th>Title</th>
									<th>Name</th>
									<th>Email</th>
									<th>Operation</th>

								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.isEmpty(messageList)}" class="btn-warning">
									<td colspan="6" align="center">No Messages !!!</td>
								</tr>
								<tr th:each="message: ${messageList}">
									<td th:text="${message.title}"></td>
									<td th:text="${message.name}"></td>
									<td th:text="${message.email}"></td>
									<td align="center"><a
										th:href="@{/serviceauto/messages/read/{messageId}(messageId=${message.messageId})}">
											<span class="glyphicon glyphicon-edit"></span>Read Message
									</a> &nbsp; &nbsp;</td>
								</tr>

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>